<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMobilesServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListMobilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMobileNetworksServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListMobileNetworksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSimsServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListSimsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListManufacturersServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListManufacturersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAdsServlet</servlet-name>
        <servlet-class>hu.bme.aait.mobilpiac.servlets.ListAdsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/ListUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMobilesServlet</servlet-name>
        <url-pattern>/ListMobilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMobileNetworksServlet</servlet-name>
        <url-pattern>/ListMobileNetworksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSimsServlet</servlet-name>
        <url-pattern>/ListSimsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListManufacturersServlet</servlet-name>
        <url-pattern>/ListManufacturersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAdsServlet</servlet-name>
        <url-pattern>/ListAdsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
